body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.main {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.right {
  width: 400px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}